/**
 * Badge component styles
 */

.badge {
  @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium;
}

/* Badge variants */
.primary {
  @apply bg-primary-100 text-primary-700;
}

.secondary {
  @apply bg-secondary-100 text-secondary-700;
}

.success {
  @apply bg-success-50 text-success-600;
}

.warning {
  @apply bg-warning-50 text-warning-600;
}

.error {
  @apply bg-error-50 text-error-600;
}

.neutral {
  @apply bg-neutral-100 text-neutral-600;
}
